  .savedSection {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      z-index: 100;
  }

  #refresh {
      z-index: 300;
      background-color: transparent;
      border: none;
      font-size: 40px;
      color: rgb(0, 0, 0);
      position: fixed;
      border-radius: 50px;
      top: 40px;
      right: 40px;
  }


  body {
      background-color: #3A2E39;
      overflow-y: hidden;
      padding: 0%;
  }

  .header {
      /* display: none; */
      height: 250px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background: linear-gradient(#8AFFD7, #2F4858);
      z-index: 99;
  }

  .newsDiv {
      width: 100%;
      margin-top: 250px;
  }

  .buttons button {
      display: inline-block;
      margin: 6px;
      width: 195px;
      background: linear-gradient(#FF6B6B, #005F6B);
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      font-family: sans-serif;
      text-decoration: none;
      border-top: 4px solid #FF6B6B;
      border-bottom: 4px solid #005F6B;
      padding: 10px;
      letter-spacing: 2px;
      transition: all .25s;
  }

  .buttons button:hover {
      background: #FFE66D;
      border: none;
      color: black;
      letter-spacing: 8px;
  }

  .container {
      position: fixed;
      z-index: 100;
      top: 345px;
      right: -10px;
      bottom: 0;
      width: 300px;
      padding: 0px;
      margin-top: 50px;
  }

  .toggle-btn {
      position: absolute;
      top: 52px;
      right: -105px;
      padding: 5px;
      font-size: 15px;
      background-color: #fc0b0b;
      color: white;
      transform: rotate(-90deg);
      transform-origin: top left;
      border: none;
      outline: none;
      cursor: pointer;
  }

  .active {
      display: block;
  }

  .content {
      width: 300px;
      overflow-x: auto;
      display: flex;
      flex-wrap: wrap;
      margin-top: -90px;
      margin-right: 50px;
      padding: 5px;
      background: linear-gradient(#2F4858, #8AFFD7);
      height: 500px;
  }

  .hidden {
      display: none;
  }

  .header h1 {
      width: 100%;
      color: #FF6B6B;
      font-size: 100px;
  }

  .categories {
      /* display: inline-block; */
      display: none;
      margin-top: 10px;
  }

  .shop-by-categories {
      position: relative;
      width: 100%;
      background: #3A2E39;
      padding: 0px;
      /* border-radius: 10px; */
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0px;
  }

  .item-div {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
  }

  .column {
      /* display: none; */
      overflow-x: auto;
      overflow-y: auto;
      background-color: #3A2E39;
      display: flex;
      height: 645px;
      flex-wrap: wrap;
      /* margin: 0 10px; */
  }

  .remove {
      /* display: none; */
      width: 400px;
      border: 4px double #FFE66D;
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 20px;
      height: 350px;
      background: #FF6B6B;
      /* #8AFFD7 #3A2E39 #2F4858 #FF6B6B #FFE66D; */

  }

  .remove i {
      height: 5px;
      width: 20px;
      color: black;
  }

  .remove p {
      overflow: hidden;
      height: 60px;
      text-overflow: ellipsis;
      max-width: 60em;
  }

  .stored img {
      display: none;
  }

  .stored div {
      background-color: #FFE66D;
      overflow-y: hidden;
      display: flex;
      flex-wrap: wrap;
      height: 100px;
      width: 220px;
      padding: 10px;
  }

  .stored p {
      height: 72px;
      text-overflow: ellipsis;
  }

  .stored span {
      display: none;
  }

  .stored .myicon {
      color: red;
  }

  .column div img {
      width: 90%;
      max-height: 50%;
      margin: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }

  .column div span {
      font-size: 15px;
      font-weight: 600;
      color: #1f3542;
  }

  .item:first-child {
      margin-left: 13px;
  }

  .column::-webkit-scrollbar {
      height: 0;
      width: 0;
  }

  .copyright {
      padding: 2px 0px;
      background-color: #8AFFD7;
      width: 100%;
      height: 44px;
  }

  footer {
      width: 100%;
      position: fixed;
      bottom: 0;
  }

  .footer-menu {
      float: left;
      margin-top: 9px;
      margin-left: 9px;
  }

  .footer-menu a {
      color: #2F4858;
      padding: 4px;
      text-decoration: none;
  }

  .footer-menu a i {
      font-size: 25px;
  }

  .footer-menu a:hover,
  .social i:hover {
      color: #FF6B6B;
  }

  .copyright p {
      font-size: 12px;
      text-align: right;
      margin-right: 8px;
  }

  /* .loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

  .load {
      align-items: center;
      display: flex;
      justify-content: center;
  }

  .loader {
    display: none;
      animation: rotate 1s infinite;
      height: 50px;
      width: 50px;
  }

  .loader:before,
  .loader:after {
      border-radius: 50%;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
  }

  .loader:before {
      animation: ball1 1s infinite;
      background-color: #cb2025;
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
  }

  .loader:after {
      animation: ball2 1s infinite;
      background-color: #00a096;
      box-shadow: 30px 0 0 #97bf0d;
  }

  @keyframes rotate {
      0% {
          -webkit-transform: rotate(0deg) scale(0.8);
          -moz-transform: rotate(0deg) scale(0.8);
      }

      50% {
          -webkit-transform: rotate(360deg) scale(1.2);
          -moz-transform: rotate(360deg) scale(1.2);
      }

      100% {
          -webkit-transform: rotate(720deg) scale(0.8);
          -moz-transform: rotate(720deg) scale(0.8);
      }
  }

  @keyframes ball1 {
      0% {
          box-shadow: 30px 0 0 #f8b334;
      }

      50% {
          box-shadow: 0 0 0 #f8b334;
          margin-bottom: 0;
          -webkit-transform: translate(15px, 15px);
          -moz-transform: translate(15px, 15px);
      }

      100% {
          box-shadow: 30px 0 0 #f8b334;
          margin-bottom: 10px;
      }
  }

  @keyframes ball2 {
      0% {
          box-shadow: 30px 0 0 #97bf0d;
      }

      50% {
          box-shadow: 0 0 0 #97bf0d;
          margin-top: -20px;
          -webkit-transform: translate(15px, 15px);
          -moz-transform: translate(15px, 15px);
      }

      100% {
          box-shadow: 30px 0 0 #97bf0d;
          margin-top: 0;
      }
  }



/* Small screens */
@media only screen and (max-width: 668px) {
    .header h1 {
        font-size: 80px;
    }
    .header{
        height: 200px;
    }
    .newsDiv {
        margin-top: 200px;
    }
    .buttons button {
        margin: 2px;
        width: 140px;
        padding: 10px 20px;
        font-size: 13px;
        border-radius: 5px;
        padding: 6px;
        letter-spacing: 2px;
        transition: all .25s;
    }
    .buttons button:hover {
        letter-spacing: 6px;
    }
    .column .remove{
        height: 250px;
        padding: 0%;
        padding-bottom: px;
    }
    .column div img {
        max-width: 90px ;
        max-height: 40px;
        margin: 0px;
    }
    .remove {
        margin-bottom: 5px;
        margin-left: 0px;
        padding: 0px;
        height: 250px;
        background: #FF6B6B;
    }
    .textarea {
        position: relative;
      }
      .myicon {
        position: absolute;
        bottom: 10px;
        right: 1px;
      }
    .column div span {
        font-size: 10px;
        font-weight: 400;
    }
    .remove p {
        height: 78px;
        font-size: 10px;
        max-width: 60em;
    }
    .copyright {
        width: 100%;
        height: 30px;
    }
    .footer-menu {
        float: left;
        margin-top: 5.5px;
        margin-left: 9px;
    }
  
    .footer-menu a {
        color: #2F4858;
        padding: 1px;
        text-decoration: none;
    }
  
    .footer-menu a i {
        font-size: 20px;
    }
    .content {
        width: 300px;
        margin-top: -90px;
        height: 400px;
    }
    /* .footer-menu div p{
        /* margin-top: 10px; 
    }*/
    
  
    .copyright p {
        font-size: 8px;
        margin-right: 18px;
    }
}

/* Medium screens */
@media only screen and (max-width: 452px) {
    .header h1 {
        font-size: 60px;
    }
    .header{
        height: 150px;
    }
    .newsDiv {
        margin-top: 150px;
    }
    .buttons button {
        margin: 2px;
        width: 100px;
        padding: 10px 20px;
        font-size: 10px;
        padding: 4px;
        letter-spacing: 2px;
        transition: all .25s;
    }
  
    .buttons button:hover {
        padding: 10px;
        letter-spacing: 6px;
        font-size: 5.5px;
    }
    .column .remove{
        height: 250px;
        padding: 0%;
        padding-bottom: px;
    }
    .column div img {
        max-width: 70px ;
        max-height: 80px;
        margin: 0px;
    }
    .remove {
        border: 2px double #FFE66D;
        margin-bottom: 5px;
        margin-left: 0px;
        padding: 0px;
        height: 250px;
    }
    .column div span {
        font-size: 10px;
        font-weight: 400;
    }
    .remove p {
        height: 78px;
        font-size: 10px;
        max-width: 60em;
        padding-left: 3px;
        padding-right: 2px;
    }
}

/* Large screens */
@media only screen and (max-width: 1120px) {
    .column div img {
        width: 100%;
        max-height: 40%;
        margin: 3px;
    }
    .remove {
        margin-bottom: 15px;
        margin-left: 10px;
        padding: 10px;
        height: 300px;
        background: #FF6B6B;
        
    }
    .textarea {
        position: relative;
      }
      .myicon {
        position: absolute;
        bottom: 20px;
        right: 1px;
      }
}
